* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    display: flex;
}

#menu {
    background-color: aliceblue;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    font-size: 25px;
    ;
    display: flex;
    align-items: center;
    padding: 30px 0 0 30px;
    margin-bottom: 30px;
}

#menu .items {
    margin-top: 40px;

}

#menu .items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;


}

#menu .items li:hover {
    background: #84a9f7;
    cursor: pointer;
    color: aliceblue;
}

#menu .items li:nth-child(1) {
    border-left: 4px solid rgb(36, 5, 5);
}


#menu .items li i {
    color: rgb(33, 13, 51);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;

}

#menu .items li:hover i,
#menu .items li:hover a {
    color: aliceblue;
}

#menu .items li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;

}

#interface .nav {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 3px solid rgb(1, 1, 77);
    position: fixed;
    width: calc(100% - 300px);

}

#interface .nav .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid rgb(68, 66, 66);
}

#interface .nav .search i {
    margin-right: 14px;
}

#interface .nav .search input {
    border: none;
    outline: none;
    background-color: aliceblue;
    font-size: 14px;
}

#interface .nav .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .nav .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .nav .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#menu-btn {
    display: none;
    color: #444a53;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-style: 25px;
    font-weight: 700;
    margin-top: 70px;

}

.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background-color: aliceblue;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    /* background-color: #444a53; */
    margin-right: 15px;
}

.values .val-box:nth-child(1) {
    background-color: rgba(130, 200, 228, 0.438);
}

.values .val-box:nth-child(2) {
    background-color: #74ecbe9c;
}

.values .val-box:nth-child(3) {
    background-color: #e75353a9;
}

.values .val-box:nth-child(4) {
    background-color: #7c74ec9f;
}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span {
    font-size: 15px;
    color: #828997;
}


.board {
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
}

.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 20px;
}

.board h5 {
    font-weight: 600;
    font-size: 20px;

}

.board p {
    font-weight: 400;
    font-size: 14px;
    color: #444a53;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

.chartShow {
    width: 94%;
    max-height: fit-content;
    object-fit: cover;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgb(201, 191, 191);
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #828997;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}

.active p {
    background: rgb(82, 240, 174);
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #f6f9ff;
}

.edit a {
    text-decoration: none;
    font-size: 14px;
    color: #84a9f7;
    font-weight: 600;
}

.mainBody {
    position: absolute;
    left: 330px;
    top: 100px;
    width: calc(100% - 300px);
    margin-right: 5px;

}

.mainBody table {
    width: 100%;
}


@media (max-width: 768px) {
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }

    #menu.active {
        left: 0px;
    }

    #menu-btn {
        display: initial;
    }

    #interface {
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }

    #menu.active~#interface {
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }

    #interface .nav {
        width: 100%;
    }

    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }

    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }

    .board {
        width: 92%;
        padding: 0;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
}

@media (max-width: 414px) {
    #interface .nav {
        padding: 15px;
    }

    #interface .nav .search input {
        width: 150px;
    }

    .i-name {
        padding: 30px 15px 0 15px;
    }

    .values {
        padding: 15px 15px 0 15px;
    }

    .values .val-box {
        width: 100%;
        margin: 8px 0;
    }

    .board {
        margin: 30px 15px 30px 15px;
    }
}



/* Userfrontend design */

.header {
    position: sticky;
    width: 100%;
    flex-direction: column;
    left: 0;
    right: 0;
}