* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    display: flex;
}

form i {
    padding-right: 20px;
    color: aliceblue;
}

nav2 {
    padding: 5px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;

    }
}


.nav2 {
    margin-top: 50px;
    background-color: rgb(223, 220, 215);
}

main>.container {
    padding: 60px 0px 0px 0px;
}

main .container .carousel img {
    height: 400px;
    width: 50%;
}

.container .row .col-3 {
    border: 1px solid rgb(151, 147, 147);
}

.container .row .col-3 li {
    list-style: none;
    border-bottom: 1px solid rgb(151, 147, 147);
    padding: 10px 40px 10px 0;
    margin: 10px 40px 10px 0;
}

.container .row .col-3 li a {
    text-decoration: none;
}

.container .card img {
    height: 250px;
    width: 250px;
    border-radius: 30%;
}

.testomonial .carousel-inner {
    margin: 50px auto;
    width: 500px;
}

.testomonial .carousel-inner img {
    height: 100px;
    width: 100px;
}

.col-11 {
    margin: 20px auto;
}

.col-11 .card img {
    height: 250px;
    width: 250px;
    border-radius: 30%;
}

.cart-table {
    align-items: center;
}

.cart-table img {
    height: 50px;
    width: 50px;
    border-radius: 30%;
}

.mainBody .card img {
    height: 250px;
    width: 250px;
}

main .container .row .col-12 {
    margin-top: 30px;
}

.cart-table td {
    text-align: center;
}



.footer container {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.footerItems {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footerItems .footerLinks {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footerItems .footerLinks a {
    padding-bottom: 10px;
}


main #aboutUsP {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: auto;
}

.map-container {
    overflow: hidden;
    padding-bottom: 5%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



/* cart */
.cart-table .table {
    position: relative;
    z-index: 9;
}

.cart_area table thead {
    background-color: #f4f2f8;
    border: none;
}

.cart_area table tbody tr td {
    width: 10% !important;
}

.cart_area table tbody tr td:first-child {
    width: 70% !important;
}

.cart_product_img>a {
    width: 120px;
    margin-right: 20px;
}

.cart-table .table td,
.cart-table .table th {
    padding: 12px;
    padding: 12px;
    padding: 0.75rem;
    text-align: left;
    vertical-align: middle;
    border: none;
    font-size: 13px;
}

.cart-table .cart_product_img h6 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

.cart-table .qty-minus,
.cart-table .qty-plus {
    background-color: #f6f6f6;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.cart-table .qty-minus i,
.cart-table .qty-plus i {
    line-height: 30px;
    font-size: 10px;
}

.cart-table .qty-text {
    background-color: #f6f6f6;
    border: medium none;
    display: inline-block;
    height: 30px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    text-align: center;
    font-size: 12px;
    width: 50px;
}

.cart-table .quantity {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
}

.cart-table .price span,
.cart-table .total_price>span,
.cart-table .action>a {
    font-size: 14px;
}

.cart_area .update-checkout a,
.cart_area .back-to-shop a {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    height: 55px;
    line-height: 51px;
    min-width: 120px;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #3a3a3a;
    text-transform: uppercase;
}

.cart_area .update-checkout a:first-child {
    color: #7a7a7a;
    border-color: #f4f2f8;
}

.cart_area .update-checkout a:last-child {
    background-color: #f4f2f8;
    color: #7a7a7a;
    border-color: #f4f2f8;
}

.cart-page-heading {
    margin-bottom: 50px;
}

.cart-page-heading h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.cart-page-heading p {
    color: #7a7a7a;
    font-size: 14px;
    margin-bottom: 0;
}

.coupon-code-area form {
    position: relative;
    z-index: 1;
}

.coupon-code-area form>input {
    width: 100%;
    height: 52px;
    border: none;
    background-color: #f4f2f8;
    padding: 0 30px;
    font-size: 12px;
}

.coupon-code-area form>button {
    width: 120px;
    height: 52px;
    border: none;
    text-transform: uppercase;
    background-color: #ff084e;
    padding: 0 30px;
    font-size: 14px;
    position: absolute;
    top: 0;
    color: #fff;
    font-weight: 700;
    right: 0;
}

.shipping-method-area .custom-control-label span {
    font-size: 14px;
}

.cart-total-chart {
    background-color: #f4f2f8;
    padding: 30px;
}

.cart-total-chart li {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.karl-checkout-btn {
    width: 100%;
    height: 60px;
    background-color: #ff084e;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 60px;
    padding: 0;
}